@font-face {
 font-family: CoasterBlack;
 src: url("../fonts/CoasterBlack.eot") /* EOT file for IE */
}

@font-face {
 font-family: CoasterBlack;
 src: url("../fonts/CoasterBlack.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: BirthOfAHero;
 src: url("../fonts/BIRTH_OF_A_HERO.ttf") /* TTF file for CSS3 browsers */
}

body {
	padding:0px;
	margin:0px;
	font-family: Verdana, Arial, sans-serif;
	background-color: rgb(0, 63, 63);
}

img {
width:100%;
height:auto;
}

a:link {color:#000000}
a:visited {color:#000000;}
a:hover {color:#000000;}
a:active {color:#000000;}

ul { 
	/*font-family: CoasterBlack, Verdana, Arial, sans-serif;*/
	list-style-type:none; 
	margin: 0px;
	padding: 0px;
}

li {
	display: block;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

h1 {
	font-family: BirthOfAHero, Verdana, Arial, sans-serif;
	font-size: 3em;
	padding: 0px
}

.menu-trigger {
	background-image:url('../images/nav_tab_black.png');
	background-repeat:none;
	background-size:100% 100%;
	/*background-color:#33cccc;*/
	width: 55px;
	height: 45px;
	position:fixed;
	top:15px;
	z-index:101;
	opacity:0.85;
    filter:alpha(opacity=85); /* For IE8 and earlier */
}
.menu-trigger a {
color:transparent;
}


.side-strip {
	/*background-color:#33cccc;*/
	background-color:#00cde0;
	width:2px;
	height:100%;
	position:fixed;
	z-index:100;
}

#full-view {
	/*background-color:white;*/
	background-color: rgb(0, 63, 63);
}

#wrapper, .elbow {
	max-width:620px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#page {
	/*background-color:#99cc99;*/
	/*background-color: rgba(153, 204, 153,0.48);*/
	background-color: rgba(190, 230, 190,1);
	padding:0px;
	text-align:center;
	box-shadow: 0 0 30px #111111;
}

#header {
}

#nav {
	display:none;
}

#nav-side, #jPanelMenu-menu {
	background-color:#333;
	font-size:1.5em;
	width:150px;
	display:none;
}

#jPanelMenu-menu ul {
font-family: Verdana, Arial, sans-serif;
background-color:#333;
margin: 0px;
padding: 0px;
}

#jPanelMenu-menu li {
border-bottom: #222 solid;
border-top: #444 solid;
border-width: 1px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px
}

#jPanelMenu-menu li:hover {
	background:#444444;
}

#jPanelMenu-menu a {
color:#FFFFFF;
height:25px;
line-height: 25px;
text-indent: 10px;
text-decoration:none;
width:100%;
}

#content {
}

#footer {
	background-color:#333;
	text-align: center;
	color:#FFFFFF;
	font-family: Verdana, Arial, sans-serif;
	padding: 10px;
	border-bottom: solid 3px;
	border-bottom-color: #00cde0;
	border-top: solid 3px;
	border-top-color: #00cde0;
}

#map {
	width:100%;
	height:100%;
}

.rslides {
	margin: 0 auto 0;
}

.grid-img {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    box-shadow: 0 0 10px #555;
    position:relative;
    float: left;

}

.grid-img-overlay {
	width: 100%;
	height: 30%;
	top: 70%;
	position:absolute;
	background-color: rgb(3, 37, 76);
	background-color: rgba(3, 37, 76, 0.8);
}

.overlay-text {
	font-family: CoasterBlack, Verdana, Arial, sans-serif;
	color: rgb(30, 153, 25);
	margin-right: 10px;
	font-size: 26px;
} 	

.mashup-type {
	font-family: BirthOfAHero, Verdana, Arial, sans-serif;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.audio-container {
	margin:10px;
}

.left-column {
    width:80%;
    margin-right:auto;
    margin-left:auto;
    
}
    
.right-column {
    width:80%; 
    margin-right:auto;
    margin-left:auto;
    padding-top: 20px;
}

/* Flipper did go here once */

@media screen and (min-width: 540px)
{

	#nav {
	display:block;
	background-color: black;

	}

	#nav ul {
		font-family: Verdana, Arial, sans-serif;
		background-color:#333;
		height:45px;
		margin:0px;
		padding:0px;
		border-bottom: solid 3px;
		border-bottom-color: #00cde0;
	}

	#nav li {
		float:left;
		height:45px;
		width:12%;
		text-align: center;
		border-left: 1px solid #444444;
		border-right: 1px solid #222222;
		line-height:45px;

	}

	#nav a {
		/*display: inline-block;*/
		/*padding:10px;*/
		text-align: center;
		color:#FFF;
		text-decoration: none;
	}

	#nav li:hover, #nav li:active {
		background-color: #444444;
	}
	
	.grid-img {
	width: 40%;
    margin-left: 6.666%;
    margin-top: 6.666%;
	}
	
	.menu-trigger {
	display:none;
	}

	.side-strip {
	display:none;
	}
}

@media screen and (min-width: 620px)
{
	#full-view {
	/*padding:0px;*/
	}
}

@media screen and (min-width: 775px)
{
	
	
	#wrapper, .elbow {
	max-width:1020px;
	width: 80%;
	}

	
	#nav-side, #jPanelMenu-menu {
	display:none;
	}
	
	.left-column {
    	width:55%;
    	float:left;
    	padding-left:5%;
    	padding-right:5%;
    
    }
    
    .right-column {
    	width:30%; 
    	float:right;
    	padding-left:0%;
    	padding-right:5%;
    }
    
}

@media screen and (min-width: 980px)
{
	.grid-img {
		width: 28%;
    	margin-left: 4%;
    	margin-top: 4%;
    }
    
    .left-column {
    	width:55%;
    	float:left;
    	padding-left:5%;
    	padding-right:5%;
    
    }
    
    .right-column {
    	width:30%; 
    	float:right;
    	padding-left:0%;
    	padding-right:5%;
    }
}
